/* Style Navigation Bar */
ul{ list-style-type: none; margin: 0; padding: 0; overflow:hidden; background-color : #737373;}
ul li { float: left; border-right: 1px solid #bbb;}
li a { display: block; padding:14px 24px ; color: white; text-align: center; text-decoration: none; font-family:Arial;}
li a:hover {background-color:#111;}

/*image styling*/
#img1{ display:block; margin-left:auto; margin-right:auto ;width:50%; max-width:100%; height:auto; padding: 25px;}
#img2{ display:block; margin-left:auto; margin-right:auto ;width:5%;max-width:100%; height:auto;}
#img3, #img5 {display:inline-block;margin-left:auto; margin-right:auto ;width:50%; max-width:100%; height:auto;} 
#img4, #img6 {float:right;margin-left:auto; margin-right:auto ;width:50%; max-width:100%; height:auto;}

#img3 img {max-height:100%; max-width:100%;}
#img4 img {max-height:100%; max-width:100%;}
#img5 img {max-height:100%; max-width:100%;}
#img6 img {max-height:100%; max-width:100%;}

@media screen and (max-width: 1000px ){
	#img4, #img6{
		float: none;
	}
} 

/* Body*/ 
body{ font-size : 18px; color : black; 
		font-family:Tw Cen MT,Arial, Times New Roman, sans-serif;
		line-height: 1.2;
		background-color:#ffe0cc;
		margin: 0px;
		
	}	

#name, #pj{text-align: center; 
		font-size: 24px; 
		margin: auto;
		margin-top: 25px;
		width: 25%;
		padding: 14px 14px; 
		text-transform: uppercase;
		color:white;
		background-color: #737373;
	}	
	
div{
	padding: 25px;
	margin: 50px 100px;
	border-style: solid; 
	border-width: thin;
	background-color: beige;
}	

#about, #IPRO {border-bottom: 5px solid #737373;}					
h2, h3{	text-align: center; margin: 10px; font-size: 30px;}
p{text-align: justify; margin: 10px;}




 