 
 
 ul{ list-style-type: none; margin: 0; padding: 0; overflow:hidden; background-color : #A040A0;}
 li { float: left; }
 li a { display: block; padding:14px 24px ; color: white; text-align: center; text-decoration: none; font-family: Arial, Times New Roman;}
 li a:hover {background-color:#111;}